<div class="container">
</div>
        <section>
          <p>Welcome!</p>
          <p>
            I am a
            <a href="https://snigglezoo.kit.com/profile" target="_blank">writer,</a> artist,
            <a href="https://themoneymammals.com/" target="_blank">entrepreneur,</a>
            <a href="https://themoneymammals.com/category/podcast/" target="_blank"
              >podcaster</a
            >
            and
            <a href="https://category6consulting.com/speaker/john-lanza/" target="_blank"
              >speaker</a
            >.
          </p>
          <p>I love running, reading, boardgames, trains and computers.</p>
          <p>I own less stuff, and I like what I do own to be beautiful.</p>
          <p>I love to learn, and I seek interesting discussions that help me clarify my thinking.</p>
          <p>
            Born in New Jersey, I moved to Southern California right after
            college.
          </p>
        </section>
        <h2>Now: What I'm doing</h2>
        <section>
          <p>
            At
            <a href="https://themoneymammals.com/" target="_blank">Snigglezoo</a>, I continue to
            engage kids to "Share, Save & Spend Smart," while empowering their
            parents to raise their kids money-smart.
          </p>
          <p>
            I'm building a new framework called <a href="https://category6consulting.com/speaker/john-lanza/" target="_blank"
            >The Money Simplicity Shift</a
          >. The goal is to help people use money as a tool to live fulfilling lives. Contact me if you like me to talk to your employees, customers or members.
          </p>
          <p>
            I recently reconnected with one of my first loves, programming. This site
            is one result of that.
          </p>
          <p>
            (All of my interviews, podcast appearances etc. can be found
            <a href="https://themoneymammals.com/media" target="_blank">here</a>.)
          </p>
          <p>
            I'm available for 15-minute chats about any of these topics.
            <a href="https://calendly.com/johnlanza/15-min-meeting" target="_blank">Book a time here.</a
            >
          </p>
          <p>Make your own <a href="https://nownownow.com/about" target="_blank">Now</a> page.</p>
        </section>
        <h2>My Timeline</h2>
        <section>
        <p>In case you care to know <a href="/events">a little bit more</a> about me.</p>
      </section>
        <h2>Where I've Worked</h2>
        <section>
          <p>From most to least recent...</p>
          <ul>
            <li>Snigglezoo (My Company)</li>
            <li>Pearson Education (Sales)</li>
            <li>Disc Marketing (New Media Director)</li>
            <li>Hyperion Studio (Producer)</li>
          </ul>
        </section>
        <h2>Books I've Written</h2>
        <section>
              <a href="https://theartofallowance.com/" target="_blank">The Art of Allowance: A Short, Practical Guide to Raising
                Money-Smart, Money-Empowered Kids</a> is for parents.
                </section>
                <section>
            <a href="https://www.amazon.com/dp/B0CV4QYF9F?binding=paperback&searchxofy=true&ref_=dbs_s_aps_series_rwt_tpbk&qid=1737996867&sr=8-8" target="_blank">The Money Mammals Share & Save & Spend Smart Series</a> is for kids and includes...
          <ul>
            <li>Joe the Monkey Learns to Share</li>
            <li>Joe the Monkey Learns to Save</li>
            <li>Joe the Monkey and Friends Learn about Spending Smart</li>
          </ul>
        </section>
        <h2>More Writing</h2>
        <section>
          <ul>
            <li><a href="https://snigglezoo.kit.com/profile" target="_blank">My "3 Ideas to Share & Save" Newsletter</a></li>
            <li><a href="https://themoneymammals.com/blog/" target="_blank">My "Raising Money-Smart Kids" Blog</a></li>
            <li><a href="https://jxh.drc.mybluehost.me/johnlanza/category/writing/" target="_blank">Random Writings</a></li>
            <li>In 2020, I completed a <a href="https://jxh.drc.mybluehost.me/johnlanza/category/30-for-30/" target="_blank">30-for-30 Challenge</a> to write 30 short “atomic” (200-250 word) essays in 30-days.</li>
          </ul>
        </section>
        <h2>Books I've Read</h2>
        <section>
<p>I began a morning reading habit in 2015 after reading Hal Elrod's <i>Miracle Morning</i>. Reading just thirty minutes per day has helped me read, write and think more. You can read <a href="/books">my short book summaries here</a>.
</p>
        </section>
        <h2>Ideas I'd Like to See Realized</h2>
        <section>
          <ul>
            <li>A set of the five primary Settlers of Catan hexes on canvas to be displayed as wall art.</li>
            <li>Model train company that would offer subway cars from all over the world — London, New York, Tokyo, Los Angeles. (Yes, we have a subway now.)</li>
          </ul>
        </section>
        <h2>Affiliations</h2>
        <section>
          <ul>
            <li>Toastmasters</li>
            <li>Certified Financial Counselor, CCUFC</li>
            <li>AYSO</li>
            <li>Bates College Key</li>
            <li><a href="https://www.linkedin.com/in/johnlanza/" target="_blank">LinkedIn</a></li>
          </ul>
        </section>
        </ul>
        </section>
      </div>
    </div>
  </body>
</html>
