<div class="container">
</div>
        <section>
          <p>Welcome!</p>
          <p>
            I've been a
            <a href="https://snigglezoo.kit.com/profile">writer,</a> artist,
            <a href="https://themoneymammals.com/">entrepreneur,</a>
            <a href="https://themoneymammals.com/category/podcast/"
              >podcaster</a
            >
            and
            <a href="https://category6consulting.com/speaker/john-lanza/"
              >speaker</a
            >.
          </p>
          <p>I love running, reading, boardgames, trains and computers.</p>
          <p>I lean heavily towards minimalism, without forgoing beauty.</p>
          <p>
            Born in New Jersey, I moved to Southern California right after
            college.
          </p>
        </section>
        <h2>Now: What I'm doing</h2>
        <section>
          <p>
            At
            <a href="https://themoneymammals.com/">Snigglezoo</a>, I continue to
            engage kids to "Share, Save & Spend Smart," while empowering their
            parents to raise their kids money-smart.
          </p>
          <p>
            I've built a new framework called The Money Simplicity Shift with
            the goal of helping us live well and use money as a tool to live a
            fulfilling life. Interested? Contact me.
          </p>
          <p>
            I'm reconnecting with one of my first loves, programming. This site
            is one result of that.
          </p>
          <p>
            (All of my interviews, podcast appearances etc. can be found
            <a href="https://themoneymammals.com/media/">here</a>.)
          </p>
          <p>
            I'm recruiting people and partners to join The Institute for Enough
            based on the Money Simplicity Shift ideas. Contact me if you're
            interested.
          </p>
          <p>
            I'm available for 15-minute chats about any of these topics.
            <a href="https://calendly.com/johnlanza/15-min-meeting"
              >Book a time here.</a
            >
          </p>
        </section>
        <h2>My Timeline</h2>
        <section>
        <p>In case you care to know <a href="/events">a little bit more</a> about me.</p>
      </section>
        <h2>Where I've Worked</h2>
        <section>
          <ul>
            <li>Snigglezoo (My Company)</li>
            <li>Pearson Education (Sales)</li>
            <li>Disc Marketing (New Media Director)</li>
            <li>Hyperion Studio (Producer)</li>
          </ul>
        </section>
        <h2>Books I've Written</h2>
        <section>
          <ul>
            <li>
              The Art of Allowance: A Short, Practical Guide to Raising
              Money-Smart, Money-Empowered Kids
            </li>
            <li>Joe the Monkey Learns to Share</li>
            <li>Joe the Monkey Learns to Save</li>
            <li>Joe the Monkey and Friends Learn about Spending Smart</li>
          </ul>
        </section>
        <h2>Books I've Read</h2>
        <section>
<p>I began a morning reading habit in 2015 after reading Hal Elrod's Miracle Morning. Reading just thirty minutes per day has helped me read, write and think more. You can read <a href="/books">my short book summaries here</a>.
</p>
        </section>
        <h2>Affiliations and Interests</h2>
        <section>
          <ul>
            <li>Toastmasters</li>
            <li>Certified Financial Counselor, CCUFC</li>
            <li>AYSO</li>
            <li>Boardgames</li>
            <li>Running</li>
          </ul>
        </section>
        <!-- <h2>My Book Notes</h2>
        <section>
          <ul>
            <li>
              <a href="/booknotes/Anything-You-Want-Derek-Sivers"
                >Anything You Want</a
              >
            </li>
            <li>
              <a href="/booknotes/Amusing-Ourselves-to-Death-Neil-Postman"
                >Amusing Ourselves to Death</a
              >
            </li>
            <li>
              <a
                href="/booknotes/logseq_Zen To Done_ The Ultimate Simple Productivity System _ Leo Babauta.html"
                >Zen to Done</a
              >
            </li>
            <li>
              <a
                href="/booknotes/logseq_Enough_ True Measures of Money, Business, and Life _ John C. Bogle.html"
                >Enough</a
              >
            </li>
            <!-- Add more links -->
          </ul>
        </section>
      </div>
    </div>
  </body>
</html>
