<h1>New Idea</h1>
<body>
  <form action="/ideas" method="post">
    <div>
      <label for="description">Description</label>
      <textarea
        id="description"
        name="idea[description]"
        class="form-control mb-3"
        rows="3" required></textarea>
    </div>
    <button class="btn btn-secondary" type="submit">Add Idea</button>
  </form>
</body>
</html>
