/* //colors pulled from */
/* //[https://coolors.co/palette/edede9-d6ccc2-f5ebe0-e3d5ca-d5bdaf] */

body {
  background-color: #f5ebe0;
}

section {
  font-size: x-large;
  font-family: "Lexend", sans-serif;
  margin-bottom: 1em;
  margin-left: 1em;
  font-size: 1.5em;
}

label {
  font-size: x-large;
  font-family: "Lexend", sans-serif;
  margin-left: 1em;
  font-size: 1.5em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

.main-header {
  font-family: "Apple Garamond", sans-serif;
  font-size: 1.35em;
  font-weight: medium;
}

h1 {
  font-family: "Apple Garamond", sans-serif;
  font-size: 4em;
  font-weight: medium;
}

h2 {
  font-family: "Apple Garamond", sans-serif;
  font-size: 4em;
}

h3 {
  font-size: 1.1em;
}

h4 {
  margin: 0; /* Eliminate all default margin */
}

.book:hover {
  background-color: #f5ebe0; /* Slightly darker background on hover */
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15); /* Enhanced shadow */
  transition: all 0.3s ease; /* Smooth transition for hover effect */
}

.book {
  margin-bottom: 20px; /* Adds space between books */
  padding: 15px; /* Adds space inside each book's container */
  border: 1px solid #d5bdaf; /* Light border for separation */
  border-radius: 8px; /* Rounded corners for aesthetics */
  background-color: #e3d5ca; /* Subtle background for contrast */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Soft shadow for depth */
}
.book-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.toggle-btn {
  background: none;
  border: none;
  font-size: 16px;
  cursor: pointer;
  transition: transform 0.2s ease; /* Subtle animation */
}
.toggle-btn:hover {
  transform: scale(1.2); /* Slight zoom on hover */
}
.book-details {
  margin-top: 10px; /*Space between the title and details*/
}

a:visited {
  color: #e5383b; /* Change this to your desired color */
}

a:link {
  color: #00cecb; /* Change this to your desired color */
}
